# .github/workflows/test.yml
name: Run Tests

on:
  pull_request:
    branches:
      - main
      - development
  push:
    branches:
      - development
      - game
      - feature/*

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm test
